name: update rss feed

on:
  schedule:
    - cron: "0 2 * * *"

  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  update-rss:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - run: yarn install
      - run: npx cross-env DATA_BASE_USERNAME=${{ secrets.DATA_BASE_USERNAME}} DATA_BASE_PASSPORT=${{secrets.DATA_BASE_PASSPORT}} esno ./src/index.ts